.container {
  padding: 1rem 2rem;
  height: 100%;
}

.header-title {
  text-align: center;
  font-weight: 500;
  line-height: 2.1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-progress {
    display: flex;
    align-items: center;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: lightgray;
    margin: 5px;
}

.current {
    width: 8px;
    height: 8px;
    background: #7f78d2;
}
